@import url(http://fonts.googleapis.com/css?family=Geo);

* {
	margin: 0;
	padding: 0;
}

body{
	background-color: black;
	cursor: default;
	overflow: hidden;
	color: white;
	font-size: 2.5em;
	font-weight: 300;
	font-family: 'Geo', sans-serif;
}

canvas{
	width: 100%;
	height: 100%;
    background-color: black;
}

#score {
	position: absolute;
	top: 20px;
	left: 20px;
	padding: 5px;
	text-align: right;
    background-color: black;
}

#best {
	text-align: right;
}

#info {
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 5px;
	text-align: right;
    background-color: black;
}

#howto {
	position: absolute;
	bottom: 20px;
	left:20px;
	padding: 5px;
	text-align: right;
    background-color: black;
}

#play {
	position: absolute;
	top: 50%;
	left:40%;
	padding: 5px;
	text-align: right;
    background-color: black;
    display: none;
}

#info a{
	color: inherit;
	text-decoration: inherit;
}

#info a:hover {
	text-decoration: underline;
}

#info div {
	padding: 0 5px;
	display: inline-block;
}

#info div img {
	position: relative;
	top: 9px;
	border-radius: 3px;
}

#info #artist {
	margin-right: 5px;
}

#info #artist .name {
	font-size: 0.8em;
}

#info #artist .song {

}

#play_link {
	position: fixed;
	top: 0;
	left: 0;
	height: 64px;
	width: 64px;
	background: url('../images/play.png') left center no-repeat transparent;
	cursor: pointer;
}
